In [9]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [ ]:
# TABLES
# description_youtube  dimensao_youtube     views_youtube

In [13]:
# Criando conex√£o com BD
def db_conection_eng():
    '''retorna a engine de conexao'''
    engine = create_engine('sqlite:///ovinos.db', echo=False)
    sqlite_connection = engine.connect()
    return sqlite_connection

def db_conection_session():
    '''retorna a session da conexao'''
    engine = create_engine('sqlite:///ovinos.db', echo=False)
    sqlite_connection = engine.connect()
    Session = sessionmaker(bind=engine)
    session = Session()
    return session

# Carrega os dados
def load_dimensao_youtube():
    '''carrega os dados no banco dimensao_youtube'''
    sqlite_conn = db_conection_eng()
    df = pd.read_sql('dimensao_youtube', sqlite_conn)
    return df

def load_description_youtube():
    '''carrega os dados no banco description_youtube'''
    sqlite_conn = db_conection_eng()
    df = pd.read_sql('description_youtube', sqlite_conn)
    return df

def load_views_youtube():
    '''carrega os dados no banco views_youtube'''
    sqlite_conn = db_conection_eng()
    df = pd.read_sql('views_youtube', sqlite_conn)
    return df

# Escreve os dados
def wr_dimensao_youtube(df):
    '''escreve os dados no banco dimensao_youtube'''
    df.set_index('id',drop=True, inplace=True)
    df = df.convert_dtypes(infer_objects=False)
    sqlite_conn = db_conection_eng()
    df = df.to_sql('dimensao_youtube', sqlite_conn, if_exists='append')
    session = db_conection_session()
    session.commit()
    return df

def wr_description_youtube(df):
    '''escreve os dados no banco description_youtube'''
    df.set_index('id', drop=True, inplace=True)
    df = df.convert_dtypes(infer_objects=False)
    sqlite_conn = db_conection_eng()
    df = df.to_sql('description_youtube', sqlite_conn, if_exists='append')
    session = db_conection_session()
    session.commit()
    return df

def wr_views_youtube(df):
    '''escreve os dados no banco views_youtube'''
    df.set_index('id', drop=True, inplace=True)
    df = df.convert_dtypes(infer_objects=False)
    sqlite_conn = db_conection_eng()
    df = df.to_sql('views_youtube', sqlite_conn, if_exists='append')
    session = db_conection_session()
    session.commit()
    return df

In [16]:
df = load_views_youtube()

In [17]:
df.head()

,id,view_count,like_count,dislike_count,average_rating,data
0,c55zIpV_BlU,26645,2180.0,20.0,4.963636,2021-04-07 21:51:47.081087
1,zY7hdFQHxV4,76232,2226.0,32.0,4.943313,2021-04-07 21:51:47.081087
2,T3_WnOgVHTg,219843,12435.0,106.0,4.966191,2021-04-07 21:51:47.081087
3,Ql89NIMnn7g,483283,40829.0,239.0,4.976722,2021-04-07 21:51:47.081087
4,eC4-bvIwGS4,1067472,9256.0,560.0,4.771801,2021-04-07 21:51:47.081087

In [8]:
#df = load_dimensao_youtube()

In [118]:
#conn = sqlite3.connect('ovinos.db')
#cursor = conn.cursor()
#sql = "SELECT uploader FROM dimensao_youtube"
#cursor.execute(sql)
#print(cursor.fetchall())

In [6]:
'''
#teste1
df = pd.read_pickle('coleta_ovinos.pkl')
df.set_index('id',drop=True, inplace=True)
df = df.convert_dtypes(infer_objects=False)
df.to_sql('dimensao_youtube', sqlite_connection, if_exists='append')
'''

In [107]:
#session.commit()

In [116]:
#df1 = pd.read_sql('dimensao_youtube',con=sqlite_connection)

In [ ]:
#df = pd.read_sql

In [24]:
'''
# criando a tabela (schema)
cursor.execute("""
CREATE TABLE dimensao_youtube (
        id                    TEXT PRIMARY KEY,
        uploader              TEXT, 
        uploader_id           TEXT, 
        uploader_url          TEXT, 
        channel_id            TEXT, 
        channel_url           TEXT, 
        upload_date           TEXT, 
        license               TEXT, 
        creator               TEXT, 
        title                 TEXT, 
        alt_title             TEXT, 
        thumbnails            TEXT, 
        description           TEXT, 
        categories            TEXT, 
        tags                  TEXT, 
        subtitles             TEXT, 
        automatic_captions    TEXT, 
        duration              REAL,
        age_limit             INTEGER,  
        annotations           TEXT, 
        chapters              TEXT, 
        webpage_url           TEXT, 
        view_count            INTEGER,  
        like_count            REAL,
        dislike_count         REAL,
        average_rating        REAL,
        formats               TEXT, 
        is_live               TEXT, 
        start_time            TEXT, 
        end_time              TEXT, 
        series                TEXT, 
        season_number         TEXT, 
        episode_number        TEXT, 
        track                 TEXT, 
        artist                TEXT, 
        album                 TEXT, 
        release_date          TEXT, 
        release_year          TEXT, 
        subscriber_count      TEXT, 
        extractor             TEXT, 
        webpage_url_basename  TEXT, 
        extractor_key         TEXT, 
        n_entries             INTEGER,  
        playlist              TEXT, 
        playlist_id           TEXT, 
        playlist_title        TEXT, 
        playlist_uploader     TEXT, 
        playlist_uploader_id  TEXT, 
        playlist_index        INTEGER,  
        thumbnail             TEXT, 
        display_id            TEXT, 
        requested_subtitles   TEXT, 
        requested_formats     TEXT, 
        format                TEXT, 
        format_id             TEXT, 
        ext                   TEXT, 
        width                 INTEGER,  
        height                INTEGER,  
        resolution            TEXT, 
        fps                   INTEGER,  
        vcodec                TEXT, 
        vbr                   TEXT, 
        stretched_ratio       TEXT, 
        acodec                TEXT, 
        abr                   INTEGER
);
""")
'''

In [7]:
'''
#Tabela count views
cursor.execute("""
CREATE TABLE views_youtube (
        id                    TEXT PRIMARY KEY, 
        view_count            INTEGER,  
        like_count            REAL,
        dislike_count         REAL,
        average_rating        REAL,
        data                  TEXT
);
""")
'''

In [4]:
'''
cursor.execute("""
CREATE TABLE description_youtube (
        id                    TEXT PRIMARY KEY, 
        description           TEXT
);
""")
'''

In [6]:
#conn = sqlite3.connect('ovinos.db')
#cursor = conn.cursor()

In [121]:
#conn.commit()

In [8]:
#conn.close()